@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

:root{
    --pink: #F2B5B6;
    --light-gray: #E2E2E2;
    --dark-pink: #A46578;
    --dark: #543F45;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

html{
    font-size: 16px;
}

.main-container{
    background-image: linear-gradient(to right top, #f2b5b6, #dfa0a6, #cb8c96, #b87887, #a46578);
}

main{
    padding: 0 5em;
}

.navbar-brand{
    font-size: 1.5em;
    color: var(--dark-pink);
}

.nav-link{
    color: var(--dark);
}

.nav-link:hover, .navbar-brand:hover{
    color: var(--pink);
}

.btn{
    background-color: var(--dark-pink);
    color: whitesmoke;
}

.btn:hover{
    background-color: var(--pink);
    color: var(--dark-pink);
}

.banner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-banner{
    text-align: center;
}

.content-banner h1{
    font-size: 5em;
    font-weight: 700;
    color: var(--pink);
}

.content-banner h3{
    color: var(--pink);
}

.seccion{
    padding-top: 100px;
}

.about-me .card{
    box-shadow: 0 0 15px var(--dark-pink);
}

.about-me .card-title{
    font-size: 2.5em;
    font-weight: 700;
    color: var(--dark);
}

.about-me .card-text{
    color: var(--dark);
}

.social-icons i{
    font-size: 1.8em;
    margin: 0.5em;
    color: var(--pink);
    cursor: pointer;
}

.social-icons i:hover{
    color: var(--dark-pink);
}

.seccion-title{
    font-size: 2.5em;
    font-weight: 700;
    color: var(--dark);
    margin-bottom: 0.5em;
}

.services .card-title, .team .card-title{
    font-weight: 700;
    color: var(--dark-pink);
}

.services .card-text, .team .profile-name, .team .profile-rol{
    color: var(--dark);
}

.services .card{
    height: 550px;
    box-shadow: 0 0 15px var(--dark-pink);
}

.services .card-pic{
    object-fit: cover;
    overflow: hidden;
}

.services .card-img-top{
    max-height: 400px;
}

.team .profile-photo{
    width: 250px;
    height: 250px;
}

.profile-photo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid var(--light-gray);
    filter: drop-shadow(0 0 15px var(--dark-pink));
}

.profile-body{
    color: var(--dark-pink);
}

.profile-name{
    margin-top: 10px;
    color: var(--dark-pink);
    font-size: 1.2em;
    font-weight: 700;
}

.carousel-inner{
    min-height: 300px;
}

.carousel-item img{
    max-height: 500px;
    object-fit: contain;
}

footer{
    background-color: var(--dark);
    color: var(--light-gray);
    height: 80px;
}
